
#board {
    display: flex;
    flex-direction: column;
    align-items: center;

}
body {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: sans-serif;
    font-weight: 600;
}

h1 {
    position: absolute;
    top: -1vw;
    right: 4vw;
    font-size: 5vw;
    transform:
    perspective(75em)
    rotateX(18deg);
    letter-spacing: 0.5vw;
}

#boardOuterEdge {
    border: 2.5vw solid rgb(245, 114, 62);
    transform:
    perspective(75em)
    rotateX(18deg);
    box-shadow:
    rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
    margin-left: 4vw;
    margin-top: -2vw;
}
#boardInnerEdge {
    border: 1vw solid black
}

.row {
    display: flex;
    flex-direction: row;
}

sub {
    font-size: 1vw;
}

#table {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#game {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tile {
    width: 2.5vw;
    height: 2.5vw;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.normalTile {
    background-color: rgb(207, 194, 154);
}

.redTile {
    background-color: maroon;
}

.purpleTile {
    background-color: purple;
}
.lightGreenTile {
    background-color: lightgreen;
}
.greenTile {
    background-color: green;
}
.blueTile {
    background-color: blue;
}
.blackTile {
    background-color: black;
    color: white;
}
.orangeTile {
    background-color: orange;
}
.darkGreenTile {
    background-color: darkgreen;
    color: white;
}
.pinkTile {
    background-color: pink;
}
.aquaTile {
    background-color: aqua;
}
.brick {
    width: 2.3vw;
    height: 2.3vw;
    border-radius: 0.3vw;
    /*box-shadow: -0.3vw 0.3vw rgb(250, 247, 242);*/
    border: black solid 2px;
    background-color: rgb(255, 252, 247);
    text-align: center;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blackBrick {
    width: 2.1vw;
    height: 2.1vw;
    border-radius: 0.3vw;
    background-color: black;
}
#bricks, #passframe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 24vw;
    height: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.3vw;
    border: 2px black solid;
}
.actionButton {
    width: 2vw;
}